body {
  margin: 0;
  height: 100vh;
  display: flex;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/fonts/FiraCode-Light.ttf');
}

#root {
  background-color: #fff;
  display: flex;
  flex: 1;
  color: #fff;

  justify-content: center;
  align-items: center;
}

.root-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.fancy-text {
  font-family: 'Fira Code';
  font-size: 26px;
  text-align: center;
}

h1.fancy-text {
  width: 80%;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: #fff3;
  border-style: solid;
  border-radius: 5px;
}

.main-div {
  background-color: #222;
  border-radius: 5px;

  display: flex;

  height: 400px;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 2px 10px #000;

  position: relative;
}

.button {
  background-color: #44d;
  padding: 6px;
  user-select: none;
  border-radius: 5px;
  margin: 0 2px 0 2px;
  height: min-content;

  box-shadow: -2px 2px 10px #000;
}

.button>p {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

p {
  margin: 0;
}

.button:active {
  background-color: #44d6;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.config-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
}

.light.root-div {
  background-color: #bbb;
  color: #000;
}

.light.main-div {
  background-color: #ddd;
  box-shadow: -2px 2px 10px #0006;
}

h1.light.fancy-text {
  border-color: #0003;
}