.add-todo {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  background-color: #2b62b4;
  color: #ddd;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-80%, -80%);
}

.add-todo:active {
  background-color: #265192;
}

.todo-list {
  background-color: #111;
  width: 300px;
  height: 70%;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  box-shadow:
    -2px 2px 15px #000 inset,
    -2px 2px 5px #fff2,
    2px -2px 5px #0007;
  overflow: hidden;
  position: relative;
}

.todo-list>div {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-item {
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #222;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-shadow: -2px 2px 10px #000;
}

.todo-checkbox {
  color: #0f9;
  user-select: none;
  text-align: center;
  background-color: #111;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow:
    1px -1px 1px #fff2 inset,
    -1px 1px 1px #0002 inset;
}

.todo-checkbox:hover {
  background-color: #0a0a0a;
}

.todo-checkbox:active {
  background-color: #1116;
}

.todo-item>.row {
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item>p {
  user-select: none;
}

/* Light Theme */

.light.todo-item {
  background-color: #ddd;
}

.light.todo-list {
  background-color: #aaa;
}

.light.todo-checkbox {
  background-color: #999;
  color: #0f9;
}

.light.todo-checkbox:hover {
  background-color: #888;
}

.light.todo-checkbox:active {
  background-color: #9995;
}